[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
mkdocs = "*"
pylint = "*"

[packages]
dynaconf = "*"
flask-shell-ipython = "*"
Flask-Admin = "*"
Flask-Bootstrap = "*"
Flask-RESTful = "*"
flask_simplelogin = "*"
Flask-SQLAlchemy = "*"
Flask = "*"
SQLAlchemy-serializer = "*"
requests = "*"
python-dateutil = "*"
flask-debugtoolbar = "*"
flask-wtf = "*"
