<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> {% block head %}
    <script src="https://kit.fontawesome.com/f4bcf9be0f.js" crossorigin="anonymous"></script>
    <title>{% block title %}{{config.get('TITLE')}} - {{page_title}}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <header>
        {% block navbar %} {{ navbar|safe }} {% endblock %}
    </header>
    <main role="main">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <footer class="container">
            <p class="float-right"><a href="#" id="back_to_top">Back to top</a></p>
            <p>&copy; 2020 Guiosoft Informática. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            {% block footer %} {% endblock %}
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

    {% block footer_scripts %} {% endblock %}
</body>

</html>